{erl_opts, [warnings_as_errors, debug_info]}.

{port_specs, [
    {"priv/sfmt_nif.so", ["c_src/sfmt_nif.c"]}
]}.

{clean_files, ["c_doc"]}.

% more generic C compiler options also useful on clang
{port_env, [
    %{"CC", "gcc-4.7 -march=nocona"},
    {"CFLAGS", "-O3 -std=c99 -finline-functions -Wall -Wmissing-prototypes"}
]}.
