{deps, []}.
{plugins, [rebar3_hex]}.
{erl_opts, [debug_info,warn_export_all,warn_export_vars,warn_shadow_vars,warn_obsolete_guard,bin_opt_info,warn_missing_spec]}.
{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -C c_src"},
   {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
   {"(freebsd)", clean, "gmake -C c_src clean"}]}.
