{erl_opts, [warnings_as_errors, debug_info]}.

{port_env, [
    % this is local mod: "gcc" or "cc" works on FreeBSD
    %{"CC", "gcc46 -march=nocona -mssse3"}, 
    {"CC", "clang"}, 
    % this CFLAGS file is for SFMT performance increase
    {"CFLAGS", "$CFLAGS -O3 -finline-functions -fomit-frame-pointer -fno-strict-aliasing -Wmissing-prototypes -Wall -std=c99 -fstack-protector"},
    {"LDFLAGS", "$LDFLAGS -fstack-protector"}
]}.

{port_specs, [
    {"priv/sfmt_nif.so", ["c_src/sfmt_nif.c"]},
    {"priv/sfmt607_nif.so", ["c_src/sfmt607_nif.c"]},
    {"priv/sfmt4253_nif.so", ["c_src/sfmt4253_nif.c"]},
    {"priv/sfmt86243_nif.so", ["c_src/sfmt86243_nif.c"]},
    {"priv/sfmt216091_nif.so", ["c_src/sfmt216091_nif.c"]}
]}.

{clean_files, ["c_doc"]}.
